*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans', sans-serif ;
    font-size: 1.4rem;
    line-height: 1.6;
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end ;
    color: white;
    background-image: url('../img/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.row-column {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.row-column-100 {
    display: flex;
    flex-direction: column ;
    width: 100%;
}

.row-100 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.banner-heading {
    font-size: 6rem;
    font-style: italic;
    padding: 0 2rem;
}

.banner-text {
    font-weight: normal;
    font-size: 1rem;
    background: white;
    color: black;
    padding: 30px;
}

.custom-font {
    font-family: 'playfair display', serif;
}

.annon-section {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    background-color: #d9b2b3;
    color: white;
}

.row-column p {
    padding: 20px 0 0 0;
    font-size: 0.8 rem;
    width: 50%;
}

.annon {
    font-size: 1.6rem;
    font-style: italic;  
}

.annon span {
    font-size: 6rem;
    line-height: 0;
}

.gallery .img-container {
    height: 450px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.gallery .gallery-img-1 {
    background-image: url(../img/gallery-1.jpeg);
}

.gallery .gallery-img-2 {
    background-image: url(../img/gallery-2.jpeg);
}

.gallery .gallery-img-3 {
    background-image: url(../img/gallery-3.jpeg);
}

.gallery .gallery-img-4 {
    background-image: url(../img/gallery-4.jpeg);
}

.gallery .gallery-img-5 {
    background-image: url(../img/gallery-5.jpeg);
}

.gallery .gallery-img-6 {
    background-image: url(../img/gallery-6.jpeg);
}

.coming-soon {
    background-color: #d9b2b3;
    color: white;
    padding: 50px 0;
}

.coming-soon .row-column-100 {
    justify-content: center;
}

.coming-soon .coming-soon-heading,
.coming-soon .coming-soon-text,
.coming-soon .coming-soon-form {
    text-align: center;
}

.coming-soon .coming-soon-heading {
    font-size: 4rem;
    font-style: italic;
}
.coming-soon .coming-soon-text {
    font-size: 1.3rem;
}
.coming-soon .coming-soon-form {
    margin-top: 35px;
}
.coming-soon-form .row-100 {
    justify-content: center;
}
.coming-soon-form .input-container {
    display: flex;
    justify-content: center;
    padding: 0 5px;
}
.input-container .text-input,
.input-container .form-btn {
    padding: 12px 10px;
    border: unset;
    border-radius: 20px;
}

.input-container .form-btn {
    background-color: black;
    color: white;
}

.art {
    display: flex;
    justify-content: center;
}

.article-section{
    display: flex;
    gap: 3%;
    padding: 60px;
}
.article-img img {
    width: 100%;
}

.article-section p {
    width: 100%;
    margin-top: 250px;
    font-size: 25px;
}

.spring {
    background-color: #d9b2b3;
    color: white;
    text-align: center;
    padding: 40px 0 0 50px;
    font-style: italic;
    font-size: 45px;
}

.spring .row {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 0.5%;
    padding: 0 80px 0 40px;
}

.spring .row img {
    height: 400px;
    width: 100%;
}
.spring .arrow img {
    color: white;
    background-color: #d9b2b3;
    height: 50px;
    margin-top: 50px;
}
.sample {
    background: white;
    display: flex;
    justify-content: center;
    gap: 1%;
}
.sample-image {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    gap: 2.5%;
    padding: 50px;
}
.sample-image img {
    height: 350px;
    width: 100%;
}

.sample-text-btn {
    width: 40%;
    flex-direction: column;
}

.sample-text .text p {
    margin-top: 60px;
    font-size: 50px;
}
.sample-text .dollars h2{
    font-size: 50px;
    font-style: italic;
}
.sample-text .lorem-text {
    margin-top: 20px;
    font-size: 15px;
}

.sample-btn button {
    font-size: 20px;
    background-color: black;
    padding: 5px 40px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    margin: 20px 0;
}

.last-section{
    display: flex;
    justify-content: center;
}

.last-article-section{
    display: flex;
    gap: 3%;
    width: 100%;
}

.last-section .last-img-container {
    width: 50%;
    height: 600px;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.last-section .gallery-img-1 {
    background-image: url(../img/subscribe.jpeg);
}

.last-article-section .last-article-text {
    width: 50%;
    justify-content: center;
}
.line hr {
    width: 80%;
    size: 40px;
    background-color: #d9b2b3;
    height: 8px;
    margin: 90px 25px 0px 25px;
}
.last-article-text .subscribe {
    font-style: italic;
    text-align: center;
    font-size: 50px;
}

.subscribe-form .row-100 {
    justify-content: center;
    gap: 2%;

}
.subscribe-form .input-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.last-article-text .subscribe-btn{
    display: flex;
    justify-content: center;
}
.last-article-text button {
    align-self: center;
    font-size: 30px;
    background-color: black;
    padding: 5px 30px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    margin: 20px;
}
.last-article-text p {
    text-align: center;
}

.last-article-text .socials {
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 3%;
}

.last-article-text .socials img {
    width: 50px;
}